[Unit]
Description=RPI DocCam Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/development/RPI-DocCam/rpi-doccam-server.py
TimeoutStopSec=5

[Install]
WantedBy=default.target
